body{
    font-family:'DM Sans','Titan One';
    font-style: normal;
    line-height: normal;
  }
  
  p{
    margin: 0;
  }
  .link{
    text-decoration: none;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  

/*Contacts side*/
  
  .contacts-section{
    background: #FFF5F6;
    }
    
    .contacts-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:32px;
        margin-top:120px;
        padding-bottom: 60px;
    }
    
    .contacts-individuals{
        max-width: 368px;
        max-height: 538px;
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    
    .address-type{
        color: #907E82;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 183%;
    }
    
    .contacts-place-cafe{
        max-width: 75.103px;
        max-height: 28px;
        border-radius: 6px;
        background: #F0D1A5;
        color: #fff; 
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0.64px;
    }
    
    .contacts-place-foodtruck{
        max-width: 138px;
        max-height: 28px;
        border-radius: 6px;
        background: #C2E297;
        color: #fff;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 186%;
        letter-spacing: 0.64px;
    }
    .contacts-city-days{
        color: #000;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 800;
        line-height: 186%;
        letter-spacing: 0.64px;
    }
    
    .contacts-date{
        color: #000000;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 800;
        line-height: 186%;
        letter-spacing: 0.64px;
    }
    
    .contacts-text{
        color: #907E82;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 183%;
        letter-spacing: 0.64px;
    }
    
    .contacts-hours{
        color: #FFA5BA;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 500;
        line-height: 186%;
    }
    
    .contacts-list-space{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .contacts-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:12px;
        padding-bottom:120px;
        background: #FFF5F6;
    }
    
    .contacts-location-button{
        max-width: 198px;
        max-height: 44px;
        border-radius: 22px;
        background: #D41342;
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 700;
        border: none;
    }
    

    .contacts-location-button:focus,
.contacts-location-button:hover {
  border: none;}
    
    .contacts-franchise-button{
        max-width: 168px;
        max-height: 44px;
        border-radius: 22px;
        background: #FFF;
        color: #D41443;
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-weight: 700;
        border: none;
    }
    .contacts-franchise-button:focus,
.contacts-franchise-button:hover {
  border: none;
}


@media screen and (max-width: 320px) {
    .contacts-container {
      flex-direction: column;
      align-items: center;
      margin-top: 60px; 
    }
  
    .contacts-individuals {
      width: 100%;
      height: auto; 
      padding: 20px; 
    }
  
    .contacts-place-cafe,
    .contacts-place-foodtruck,
    .contacts-city-days,
    .contacts-date,
    .contacts-text,
    .contacts-hours,
    .address-type {
      text-align: center; 
    }
  
    .contacts-list-space {
      gap: 2px; 
    }
  
    .contacts-buttons {
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px; 
    }
  
    .contacts-location-button,
    .contacts-franchise-button {
      width: 100%; 
    }

    
  }